.form1{
    width: 40rem;
    background: linear-gradient(to bottom, #eee, #eee);
    aspect-ratio: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.3rem;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.3),
    inset 0 -0.5rem 0.5rem -0.3rem #34e89e;
}

.form__wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__knop{
    background: linear-gradient(to bottom right, #0f3443, #34e89e);
    color: #eee;
    font-family: inherit;
    font-size: 90%;
    border: none;
    width: min-content;
    padding: 1rem;
    border-radius: 0.5rem;
    aspect-ratio: 3/1;
}
.form__knop:hover{
    cursor: pointer;
}
.formInputWrapper{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}   

.form__label{
    font-size: 160%;
    

}
.form__input{
    border: none;
    background: none;
    outline: none;
    border-bottom: 0.2rem  solid #34e89e;
    font-size: 100%;
}