.display {
    width: 40rem;
    background: linear-gradient(to bottom, #eee, #eee);
    aspect-ratio: 1;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3),
        inset 0 -0.5rem 0.5rem -0.3rem #34e89e;
    position: relative;
    animation-name: popup;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.display__play{
   position: absolute;
   height: 10rem;
   aspect-ratio: 1/1;
   top: 0;
   right: 0; 
   background: linear-gradient(to bottom right, #0f3443, #34e89e);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #eee;
   font-size: 110%;
   z-index: 1;
   transform: translate(50%,-50%) rotate(10deg);
   
}

@keyframes popup{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}